{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">About this project</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='img/flask+pytorch.png') }}" alt="">
            </div>
            <p class="lead">This task was done as an assignment for EMLO (Session 3). <br> <a
                    href="https://github.com/mmgxa/EMLO_S3"> View on GitHub</a></p>
            <p> Team Member: MMG</p>
            <p>
                By default, this app uses MobileNetV2 image classifier that was pre-trained on the ImageNet dataset.
                This can be easily changed with any custom deep learning model.
            </p>

        </div>
    </div>  
</div>
{% endblock %}